copyq/*
discord/
dconf/
libreoffice/
Electron/
bettersoundcloud/
xfce4/
teams-for-linux/
pulse/
Thunar/
htop/
user-dirs.dirs
QtProject.conf
Arduino\ IDE/
Code\ -\ OSS/
Kitware/
Slack/
mimeapps.list
okular*
zoom*
pavucontrol.ini

